html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    display: block;
    background-color: #525c3a;
}

html {
    overflow-y: scroll;
}


#navbar {
    z-index: 1002;
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: inline-flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    background-color: #525c3a;
    transition: all 0.5s;
    padding-left: 100px;
    padding-right: 30px;
    position: fixed;
}

#navbar a {
    float: right;
    display: flex;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    transition: all 0.5s;
    transform: translateX(35px);
}

#navbar:hover{
    background-color: #404a2b;
}

#navbar a:hover {
    color: #a8a570;
}

#title {
    color: white;
}

#logo-white {
    width: 50px;
    height: 50px;
}

#logo-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #647345;
    padding: 3px 8px;
    border-radius: 11px;
    margin-right: 20px;
}
#coins {
    display: flex;
    justify-content: center;
    align-items: center;
}

#coins p {
    font-size: 20px;
    margin: 0px;
    color: white;
    transform: translateX(-10px);
}

#profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 10px;
}

#profile-name {
    margin-right: 15px;
    color: white;
}

#explore-0 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    background-image: url(css-images/khaki-living-room.png);
    background-attachment: fixed;
    width: 100%;
    height: 400px;
    background-size: cover;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

#explore-0 h1 {
    font-weight: 400;
    transform: translateY(40px);
}

.container-3:hover, #cloned-container-3:hover{
    transform: translateY(-5%);
    box-shadow: 10px 10px 20px 0px rgba(9, 9, 9, 0.3)
}

#searchbar {
    overflow: hidden;
    z-index: 1000;
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    transform: translateY(70px);
    margin-bottom: 10px;
}
.search-container {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: center;
}
  
.search-container input[type="search"] {
    width: 500px;
    padding: 15px 30px;
    border: 3px solid rgb(57, 65, 42);
    border-radius: 40px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}


input[type="search"]::placeholder {
    color: black;
}

.search-container input[type="search"]:focus {
    outline: none;
    border: 3px solid black;
}

.search-container button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    outline: none;
}

.search-container button:hover {
    color: #4CAF50;
}

.sticky {
    position: fixed;
    top: 10px;
    width: 100%;
    height: auto;
    z-index: 1000;
}

.sticky + #explore {
    padding-top: 500px;
}

#explore {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    color: #a8a570;
}

.furniture-demo {
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-3 {
    transform: translateY(10%);
    opacity: 0;
    transition: all 1s;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    width: 300px;
    height: 400px;
    padding-bottom: 10px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 20px;

}


.show {
    transform: translateY(0);
    opacity: 1;
    transition: all 1s;
}

.explore-img {
    bottom: 70px;
    width: 300px;
    height: 360px;
    object-fit: cover;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    z-index: 8;
    position: relative;
}

#explore {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-price {
    justify-content: flex-end;
    align-items: flex-end;
    height: 360px;
    width: 300px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.price {
    position: relative;
    margin-right: 20px;
    margin-left: 170px;
    color: #fff;
    background-color: black;
    text-align: right;
    padding: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    padding-left: 0px;
    z-index: 99;
}

.desc {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    width: 250px;
    padding-top: 10px;
    color: white;
}

footer {
    background-color: black;
    padding-top: 50px;
    padding-bottom: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    align-self: center;
    color: white;
    margin-bottom: 0px;
    width: 100%;
    overflow-x: hidden;
}
footer a {
    color: grey;
    text-decoration: none;
    margin: 0 5px;
    font-size: 17px;
}
footer a:hover {
    color: #4eeeff;
    text-decoration: underline;
}
footer ul {
    list-style-type: none;
    padding: 0px;
}
footer li {
    list-style-type: none;
    margin-right: 10px;
}

.partner-title {
    text-align: right;
    padding-right: 15px;
    padding-left: 55px;
    padding-top: 0px;
    margin-top: 0px;
}

.ilogo {
    width: 70px;
    height: 70px;
    transform: translateY(-2px);
}

footer .partners {
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.footer .partners-flexitem {
    text-align: right;
}

#footer-spacing {
    padding-left: 100px;
    padding-right: 100px;
}

footer .logo-box {
    padding-top: 0px;
    text-align: center;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    transform: translateY(-27px);
}

#logo2 {
    color: white;
    font-size: 25px;
    transform: translateX(-15px);
}

footer .logo-box a:hover {
    text-decoration: none;
}

