html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    display: block;
    background-color: #525c3a;
    font-size: 20px;
}

html {
    overflow-y: scroll;
}

#lottie-load { /* Lottie Animation */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

#navbar { /* The Navigation Bar */
    z-index: 1002;
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: inline-flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    background-color: #525c3a;
    transition: all 0.5s;
    padding-left: 100px;
    padding-right: 30px;
    position: fixed;
}

.side-button-box { /* Hide mobile bar */
    display: none; 
}

.sidebar { /* Hide mobile bar */
    display: none;
}

#navbar a {
    float: right;
    display: flex;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    transition: all 0.5s;
}

#navbar:hover{
    background-color: #404a2b;
}

#navbar a:hover {
    color: #a8a570;
}

#title {
    color: white;
}

#logo-white { /* Logo */
    width: 50px;
    height: 50px;
}

#logo-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-bottom: 2px;
    padding-top: 2px;
}

#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #647345;
    padding: 0px 8px;
    border-radius: 11px;
    margin-right: 20px;
}
#coins {
    justify-content: center;
    align-items: center;
}

#coins2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#coins p {
    font-size: 20px;
    margin: 0px;
    color: white;
    transform: translateX(-10px);
}

#profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 10px;
}

#clover-pic {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 10px;
}

#profile-name {
    margin-right: 15px;
    color: white;
    padding: 0px 0px;
    height: 20px;
}

.selected { /* Selected for transition */
    transform: translateY(-100px);
    opacity: 0;
    transition: all 1s;
}

.show { /* Carry out the animation */
    transform: translateY(0);
    opacity: 1;
    transition: all 1s;
}

.top-bar-coins {
    display: flex;
}

#product {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 70px
}

#spacing {
    height: 10px;
}

#threed { /* threed = Three D = 3D */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    margin-left: 70px;
    margin-right: 70px;
    padding: 40px;
    flex-direction: row;
    background-color: #404a2b;
    border-radius: 10px;
    color: #e9ce9f;
    margin-bottom: 100px;
}

#product-img {
    width: 400px;
    height: 500px;
    border-radius: 10px;
}

#img-grp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#desc-grp {
    padding: 100px;
    height: 500px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: #a8a570;
    line-height: 150%;
    transition-delay: 200ms;

}

#details { /* Furniture Details */
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: #404a2b;
    padding: 30px;
    border-radius: 10px;
    transition-delay: 400ms;
}

hr {
    width: 100%;
    height: 5px;
    border: none;
    background-color: #647345;
}

h1, h2 {
    font-weight: 400;
}

h1 {
    font-size: 30px;
    color: white
}

h2 {
    font-size: 20px;
    color: #fff
}

#product-header {
    margin-bottom: 40px;
}

.details-section {
    display: flex;
    justify-content: space-between;
    width: 250px;
    color: #e9ce9f;
    font-weight: 400;
} 

#details-header {
    color: white;
}

#desc-grp div {
    margin-bottom: 20px;
}

#purchase-button { /* Button to purchase */
    margin: 0px;
    margin-bottom: 70px;
    background-color: #404a2b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease-in-out;
}

#coin-grp {
    background-color: black;
    border-radius: 10px;
    padding: 10px 10px;
    display: flex;
    height: 40px;
    justify-content: flex-start;
    align-items: center;
}

#purchase-button:hover {
    background-color: black;
}

@media (max-width: 768px) { /* Media Queries */



    #clover-pic {
        width: 40px;
        height: 40px;
        border-radius: 5px;
        margin-right: 0px;
    }

    #coins2 {
        margin-bottom: 10px;
    }

    html, body {
        overflow-x: hidden;
    }

    #navbar #wallet, #navbar #notif, #navbar #expl{ /* Hide certain elements on the navigation bar */
        display: none;
    }

    .sidebar a {
        display: flex;
    }

    .sidebar a {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 10px;
    }

    #profile {
        align-self: center;
        width: auto;
        margin-right: 0px;
    }

    #navbar {
        max-width: 600px;
    }

    #profile-bar {
        justify-content: flex-end;
    }

    #logo-group {
        display: none;
    }

    #sidebar-logo {
        width: 70px;
        height: 70px;
        align-self: center;
    }

    .login, .about-us, .contact-us{ /* These correspond to positions on the top bar */
        border: none;
        outline: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        padding: 15px 24px;
        text-decoration: none;
        font-size: 16px;
        margin: 5px;
        margin-left: 20px;
        margin-right: 20px;
        background-color: #404a2b;
        transition: all 0.5s;
    }

    .sidebar a:hover {
        background-color: black;
    }

  

    .side-button-box {
        display: flex;
        justify-content: left;
        align-items: center;
        position: absolute;
        left: 30px;
        top: 50%; 
        transform: translateY(-50%);
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: -500px; 
        width: 250px;
        height: 100%;
        background-color: rgba(81, 92, 58, 1);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: left 0.5s ease-in-out;
        padding-top: 30px;
    }

    .side-button-box #side-button {
        width: 30px;
        height: 30px;
        padding: 0px;
        align-self: center;
        background-color: none;
    }

    .sidebar #close-button {
        width: 25px;
        height: 25px;
        padding-left: 20px;
        padding-bottom: 10px;
        transform: translateX(410%);
    }

    .top-bar-coins {
        display: none;
    }

    #product {
        padding-right: 10px;
        padding-left: 10px;
        flex-wrap: wrap;
    }

    #product-img {
        width: 500px;
        height: auto;
    }

    #desc-grp {
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 50px;
    }

    #threed { /* (again, 3D xD) */
        flex-direction: column;
        margin-top: 50px;
        margin-left: 43px;
        margin-right: 43px;
        height: 300px;
        align-items: center;
    }
}   