body {
    margin: 0;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: #525c3a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header {
    display: flex;
    padding-top: 270px;
    padding-bottom: 270px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: url("https://images8.alphacoders.com/117/1174099.jpg");
    background-size: cover;
    color: #fff;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: -0.05em;
    width: 100%;
    height: 340px;
    overflow-x: hidden;
}

#top-img{
    width: 100%;
    height: auto;
    overflow: hidden;
}

section {
    justify-content: center;
}
#navbar {
    overflow: hidden;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    background-color: #525c3a;
}

#navbar a {
    float: right;
    display: flex;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

#navbar:hover{
    background-color: #404a2b;
}

#navbar a.active {
    background-color: #04AA6D;
    color: white;
}

#content-padding {
    padding-top: 10px;
    padding-bottom: 10px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + #content-padding {
    padding-top: 80px;
}

.content {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    color: #a8a570;
}

.body-text, .benefits, .image-desc {
    max-width: 1350px;
    padding-left: 100px;
    padding-right: 100px;
}

.content > * {
    transform: translateY(10%);
    opacity: 0;
    transition: all 1s;
}

.selected{
    transform: translateY(10%);
    opacity: 0;
    transition: all 1s;
}

.show {
    transform: translateY(0);
    opacity: 1;
    transition: all 1s;
}

.body-text {
    margin: 20px;
}

h1, h2, h3, h4 {
    color: white;
    font-weight: 400;
}

#container-2, #container-3 p {
    color: white;
}

.content > * {
    margin-bottom: 200px;
    justify-content: center;
    align-items: center;
}


.benefits {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    text-align: center;
    max-width: 370px;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px;

}

.image-desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

#first-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-right: 50px;
    border-radius: 10px;
}

.benefits-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container-2 {
    text-align: left;
    background-color: #a8a570;
    padding: 40px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#container-2 div {
    display: flex;   
    justify-content: space-between;
    padding: 0px;
}

hr {
    height: 10px;
    border: none;
    background-color: black;
    margin: 0px;
}

#container-3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    width: 300px;
    height: auto;
    padding-bottom: 10px;
    padding-top: 0px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 20px;
    transition: all 0.5s;

}

.explore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-self: center;
    background-color: #404a2b;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
}

.image-price {
    justify-content: flex-end;
    align-items: flex-end;
}

.price {
    position: absolute;
    margin-left: 185px;
    font-size: 16px;
    color: #fff;
    background-color: black;
    text-align: right;
    padding: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 25px;
}

.furniture-demo {
    display: flex;
    max-width: fit-content;
}

#container-3:hover {
    transform: translateY(-5%);
    box-shadow: 10px 10px 20px 0px rgba(9, 9, 9, 0.3)
}

#explore-img {
    width: 300px;
    height: 360px;
    object-fit: cover;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.desc {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    width: 250px;
}